[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NEXT_USE_NETLIFY_EDGE = "true"
  NODE_VERSION = "18" 

[[headers]]
  for = "/embed/*"
  [headers.values]
    X-Frame-Options = "ALLOWALL"
    Content-Security-Policy = "frame-ancestors *"
    Cache-Control = "public, s-maxage=3600, stale-while-revalidate=86400, max-age=3600"
    X-Content-Type-Options = "nosniff"